body{
color: White;
background-color: #00162E;
}
:root{
--branco: white;
--cor-de-fundo: #00162E;
--fundo-senha: #00244D;
--fundo-texto: #001E40
--borda: #0075FF;
}
<style>
@import url(‘https://fonts.googleapis.com/
css2?family=Roboto&family=Roboto+Mono&display=swap’);</style>
--roboto: ‘Roboto’, sans-serif;
--roboto-mono: ‘Roboto Mono’, monospace;
font-family: var(--roboto);
.titulo-principal{
font-family: var(--roboto-mono)
font-size: 32px;
}
.titulo-secundario{
font-size: 24px;
}
.conteudo-titulo{
text-align: center;
}
{
font-weight: 400;
}
.conteudo-senha{
margin-top: 80px;
background: var(--fundo-senha);
padding: 24px;
border-bottom: 6px solid var(--borda);
}
#campo-senha{
background-color: var(--fundo-senha);
border: none;
color: var(--branco);
font-family: var(--roboto-mono);
font-size: 40px;
}
#campo-senha:focus{
outline: none;
  .conteudo{
max-width: 1200px;
}
  .conteudo{
max-width: 1200px;
margin: 0 auto;
}
  .conteudo-senha{
margin-top: 80px;
background: var(--fundo-senha);
padding: 24px;
border-bottom: 6px solid var(--borda);
}
  .parametro{
background-color: var(--fundo-texto);
border: 2px solid var(--borda);
margin-top: 32px;
padding: 24px;
}
  #campo-senha{
background-color: var(--fundo-senha);
border: none;
color: var(--branco);
font-family: var(--roboto-mono);
font-size: 40px;
width: 70%;
}
  @media screen and (min-width: 768px) {
.parametro-coluna__senha{
flex-direction: row;

}
}
  .parametro-senha{
width: 50%;
margin: 0 auto;
}
  .parametro-senha__botao{
background-color: var(--fundo-texto);
color: var(--branco);
border: 2px solid var(--borda);
padding: 24px;
font-size: 24px;
cursor: pointer;
    <div class=”parametro-senha”>

<h4 class=”parametro-senha__titulo”>Características

da senha</h4>
<div class=”parametro-senha”>

<h4 class=”parametro-senha__titulo”>Características da senha</

h4>

<div class=”parametro-senha-checkbox”>
<input name=”maiusculo” type=”checkbox”

class=”checkbox”>

<label for=”maiusculo”>Letras maiúsculas</label>
</div>
<div class=”parametro-senha-checkbox”>
<input name=”minusculo” type=”checkbox”

class=”checkbox”>

<label for=”minusculo”>Letras minúsculas</label>
</div>
    <div class=”parametro-senha-checkbox”>
<input name=”numero” type=”checkbox”

class=”checkbox”>

<label for=”numero”>Números</label>
</div>
<div class=”parametro-senha-checkbox”>
<input name=”simbolo” type=”checkbox”

class=”checkbox”>

<label for=”simbolo”>Símbolos</label>
</div>

</div>
    .forca{
height: 30px;
position: relative;
bottom: 30px;
}
.fraca{
width: 25%;
background-color: #E71B32;
}
.media{
background-color: #FAF408;
width: 50%;
}
.forte{
background-color: #00FF85;
width: 100%;
  <div class=”conteudo-senha”>

<label for=”senha”>Senha</label>
<input name=”senha” type=”text” id=”campo-senha”

readonly>

</div>
 // código omitido
const campoSenha = document.querySelector(‘#campo-senha’);
const letrasMaiusculas = ‘ABCDEFGHIJKLMNOPQRSTUVXYWZ’;
geraSenha();
function geraSenha(){
for (let i = 0; i < tamanhoSenha;i++) {
let numeroAleatorio = Math.random()*letrasMaiusculas.length;
numeroAleatorio = Math.floor(numeroAleatorio);
console.log(letrasMaiusculas[numeroAleatorio]);
}
}
campoSenha.value = letrasMaiusculas;
  function diminuiTamanho(){
if (tamanhoSenha > 1){
// tamanhoSenha = tamanhoSenha-1;
tamanhoSenha--;
}
numeroSenha.textContent = tamanhoSenha;
geraSenha();
}
function aumentaTamanho(){
if (tamanhoSenha < 20){
// tamanhoSenha = tamanhoSenha+1;
tamanhoSenha++;
}
numeroSenha.textContent = tamanhoSenha;
geraSenha();
}
  const checkbox = document.querySelectorAll(‘.checkbox’);
console.log(checkbox);
  const letrasMaiusculas = ‘ABCDEFGHIJKLMNOPQRSTUVXYWZ’;
const letrasMinusculas = ‘abcdefghijklmnopqrstuvxywz’;
const numeros = ‘0123456789’;
const simbolos = ‘!@%*?’;
  function geraSenha(){
let alfabeto = ‘’;
if (checkbox[0].checked){
alfabeto = alfabeto + letrasMaiusculas;
}
console.log(alfabeto);
// restante do código omitido
}
  function geraSenha(){
let alfabeto = ‘’;
if (checkbox[0].checked){
alfabeto = alfabeto + letrasMaiusculas;
}
if (checkbox[1].checked){
alfabeto = alfabeto + letrasMinusculas;
}
if (checkbox[2].checked){
alfabeto = alfabeto + numeros;
}
if (checkbox[3].checked){
alfabeto = alfabeto + simbolos;
}
console.log(alfabeto);
// código omitido...
}
    function geraSenha(){
let alfabeto = ‘’;
if (checkbox[0].checked){
alfabeto = alfabeto + letrasMaiusculas;
}
if (checkbox[1].checked){
alfabeto = alfabeto + letrasMinusculas;
}
if (checkbox[2].checked){
alfabeto = alfabeto + numeros;
}
if (checkbox[3].checked){
alfabeto = alfabeto + simbolos;
}
console.log(alfabeto);
let senha = ‘’;
for (let i = 0; i < tamanhoSenha;i++){
let numeroAleatorio = Math.random()*alfabeto.length;
numeroAleatorio = Math.floor(numeroAleatorio);
senha = senha + alfabeto[numeroAleatorio];
}
campoSenha.value = senha;
